In [12]:
import pandas as pd
import numpy as np

df = pd.read_excel(r'/content/data.xlsx', engine='openpyxl',skiprows = 1)
df.drop(['نام محور', 'کد محور','تعداد کل وسیله نقلیه','تعداد وسیله نقلیه کلاس 1','تعداد تخلف سبقت غیر مجاز'], axis=1, inplace=True)
df.drop(['تعداد وسیله نقلیه کلاس 2','تعداد وسیله نقلیه کلاس 3','تعداد وسیله نقلیه کلاس 4','تعداد وسیله نقلیه کلاس 5','مدت زمان کارکرد (دقیقه)'], axis=1, inplace=True)
df

,روز,ساعت,سرعت متوسط,تعداد تخلف سرعت غیر مجاز,تعداد تخلف فاصله غیر مجاز,تعداد برآورد شده
0,1,1,91,466,593,2804
1,1,2,91,269,22,1678
2,1,3,94,188,0,933
3,1,4,94,194,0,1021
4,1,5,93,269,0,1527
...,...,...,...,...,...,...
736,31,19,81,163,2596,6665
737,31,20,83,190,2209,6084
738,31,21,86,327,1323,4790
739,31,22,87,379,944,3867
740,31,23,91,439,376,2551

In [13]:
df.describe()

,روز,ساعت,سرعت متوسط,تعداد تخلف سرعت غیر مجاز,تعداد تخلف فاصله غیر مجاز,تعداد برآورد شده
count,741.000000,741.000000,741.000000,741.000000,741.000000,741.000000
mean,16.020243,11.491228,87.620783,343.941970,1060.960864,3764.429150
std,8.917391,6.917974,6.362096,221.842605,876.910577,2053.655103
min,1.000000,0.000000,0.000000,0.000000,0.000000,332.000000
25%,8.000000,6.000000,84.000000,152.000000,46.000000,1886.000000
50%,16.000000,11.000000,88.000000,333.000000,1127.000000,4288.000000
75%,24.000000,17.000000,92.000000,486.000000,1651.000000,5413.000000
max,31.000000,23.000000,97.000000,950.000000,2885.000000,7209.000000

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]


train_x = np.array(train[["روز","ساعت","سرعت متوسط","تعداد تخلف سرعت غیر مجاز","تعداد تخلف فاصله غیر مجاز"]])
train_y = np.array(train[['تعداد برآورد شده']])
reg = LinearRegression().fit(train_x, train_y)
print("score : %.3f" % reg.score(train_x, train_y))
print(reg.coef_[0])
print("intercept : %.3f" % reg.intercept_[0])


#----------------------------------------------------------------
test_x = np.array(test[["روز","ساعت","سرعت متوسط","تعداد تخلف سرعت غیر مجاز","تعداد تخلف فاصله غیر مجاز"]])
test_y = np.array(test[['تعداد برآورد شده']])
test_y_ = reg.predict(test_x)
print("r2 score : %.2f" % (r2_score(test_y,test_y_)))

score : 0.969
[ -2.76473398  23.55636472 -30.12424394   1.36389043   1.98082171]
intercept : 3609.185
r2 score : 0.98

In [6]:
day = int(input("enter day : "))

hour = int(input("enter hour : "))

enter day : 1
enter hour : 4

In [17]:
res = reg.predict(np.array([[day,hour,87,343,1060]]))
print(res)

if res < 1886 :
    print("سبک")
elif res > 1886 and res < 4288:
    print("نیمه سنگین")
elif res > 5413 :
    print("سنگین")

[[3647.32227862]]
نیمه سنگین